@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  /*Font families */
  --font-h1: "Bebas neue", "Roboto";
  --font-h2: "Josefin sans", "Roboto";
  --font-h3: "Josefin sans", "Roboto";
  --font-p: "Caveat", "Comic Sans";
}
